<h2 class="text-light mb-3">Watchlist</h2>
@if(loading){
<div class="text-center">
  <i class="bi bi-arrow-clockwise fs-1 text-primary"></i>
  <p>Loading...</p>
</div>
} @if(!loading && coins.length > 0){
<table
  class="table table-hover table-dark table-striped"
  style="table-layout: fixed; width: 100%"
>
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody class="text-center">
    @for (coin of coins; track coin.id) {
    <tr (click)="goToCoinDetails(coin)">
      <td>
        <img
          [src]="coin.image"
          [alt]="coin.name"
          width="30"
          height="30"
          class="mb-3"
        />
      </td>
      <td>{{ coin.name }}</td>
    </tr>
    }
  </tbody>
</table>
} @if (coins.length === 0 && !loading) {
<p class="text-center text-light">No coins in your watchlist.</p>
}
